In [55]:
#Total Months: 25
#Total Revenue: $1241412
#Average Revenue Change: $216825
#Greatest Increase in Revenue: Sep-16 ($815531)
#Greatest Decrease in Revenue: Aug-12 ($-652794)

import numpy as np
import pandas as pd

file = r'budget_data_1.csv'
df = pd.read_csv(file)
print('Total Months: ', df['Date'].count())
print('Total Revenue: $', df['Revenue'].sum())
df['RevChg'] = df['Revenue'] - df['Revenue'].shift(+1)
print('Average Revenue Change: $', df['RevChg'].mean())
print('Greatest Increase in Revenue:', df['RevChg'].max())
print('Greatest Decrease in Revenue:', df['RevChg'].min())
print(df, file=open("output.txt", "a"))
df

Total Months:  41
Total Revenue: $ 18971412
Average Revenue Change: $ -6758.975
Greatest Increase in Revenue: 1837235.0
Greatest Decrease in Revenue: -1779747.0

      Date  Revenue         RevChg
0   Oct-12  1154293           $nan
1   Nov-12   885773   $-268,520.00
2   Dec-12  -448704 $-1,334,477.00
3   Jan-13   563679  $1,012,383.00
4   Feb-13   555394     $-8,285.00
5   Mar-13   631974     $76,580.00
6   Apr-13   957395    $325,421.00
7   May-13  1104047    $146,652.00
8   Jun-13   693464   $-410,583.00
9   Jul-13   454932   $-238,532.00
10  Aug-13   727272    $272,340.00
11  Sep-13   125016   $-602,256.00
12  Oct-13   339251    $214,235.00
13  Nov-13    78523   $-260,728.00
14  Dec-13   977084    $898,561.00
15  Jan-14  1158718    $181,634.00
16  Feb-14   332681   $-826,037.00
17  Mar-14  -341227   $-673,908.00
18  Apr-14   173826    $515,053.00
19  May-14   742611    $568,785.00
20  Jun-14  1189806    $447,195.00
21  Jul-14   607363   $-582,443.00
22  Aug-14 -1172384 $-1,779,747.00
23  Sep-14   587993  $1,760,377.00
24  Oct-14   295198   $-292,795.00
25  Nov-14  -300390   $-595,588.00
26  Dec-14   468995    $769,385.00
27  Jan-15   698452    $229,457.00
28  Feb-15   967828    $269,376.00
29  Mar-15  -454873 $-1,422,701.00
30  Apr-15   375723    $830,596.00
31  May-15  1140526    $764,803.00
32  Jun-15    83836 $-1,056,690.00
33  Jul-15   413189    $329,353.00
34  Aug-15   551363    $138,174.00
35  Sep-15  1195111    $643,748.00
36  Oct-15   657081   $-538,030.00
37  Nov-15    66659   $-590,422.00
38  Dec-15   803301    $736,642.00
39  Jan-16  -953301 $-1,756,602.00
40  Feb-16   883934  $1,837,235.00